@page
@model OldFashionShop_PRN221_GroupProject.Pages.LoginPageModel


<form method="post">
    <div>
        <label for="username">Username</label>
        <input name="username" type="text"id="username" value="admin" required>
    </div>
    <div>
        <label for="password" >Password</label>
        <input name="password" type="password">
    </div>
    <div>
        <button type="submit" >Login</button>
    </div>
    <div>
        <p><em>Just put a character to login.</em></p>
    </div>
</form>
