@page
@model OldFashionShop_PRN221_GroupProject.Pages.LoginPageModel

@if (ViewBag.ErrorMessage != null)
{
    <div role="alert">
        @ViewBag.ErrorMessage
    </div>
}
<!-- ***** Main Login Area Start ***** -->
<div class="main-banner" id="top">
    <div class="container-fluid">
        <div class="row">
            <form method="post">
                <div>
                    <label for="email">Email</label>
                    <input name="email" type="text" id="email" asp-for="Email" placeholder="Input Email" required>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input name="password" type="password" asp-for="Password" placeholder="Input Password" required>
                </div>
                <div>
                    <button type="submit">Login</button>
                    <a asp-page="/RegisterPage">Register</a>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- ***** Main Login Area End ***** -->
