@page
@model OldFashionShop_PRN221_GroupProject.Pages.RegisterPageModel

@if (ViewBag.ErrorMessage != null)
{
    <div role="alert">
        @ViewBag.ErrorMessage
    </div>
}
<!-- ***** Main Login Area Start ***** -->
<div class="main-banner" id="top">
    <div class="container">
        <div class="row">
            <div class="col-5 mx-auto">
                <form method="post" id="register_form">
                    <div class="card text-center card bg-default mb-3">
                        <div class="card-header">
                            REGISTER
                        </div>
                        <div class="card-body my-2">
                            <label asp-for="Account.FullName" class="control-label w-100 text-left"></label>
                            <input asp-for="Account.FullName" class="form-control input-sm chat-input" />
                            <span asp-validation-for="Account.FullName" class="text-danger"></span>

                            <br />

                            <label asp-for="Account.Email" class="control-label w-100 text-left"></label>
                            <input asp-for="Account.Email" class="form-control input-sm chat-input" />
                            <span asp-validation-for="Account.Email" class="text-danger"></span>

                            <br />

                            <label asp-for="Password" class="control-label w-100 text-left"></label>
                            <input asp-for="Password" class="form-control input-sm chat-input" />
                            <span asp-validation-for="Password" class="text-danger"></span>

                            <br />

                            <label asp-for="ConfirmPassword" class="control-label w-100 text-left"></label>
                            <input asp-for="ConfirmPassword" class="form-control input-sm chat-input" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                            <br />

                            <label asp-for="Account.Phone" class="control-label w-100 text-left"></label>
                            <input asp-for="Account.Phone" class="form-control input-sm chat-input" />
                            <span asp-validation-for="Account.Phone" class="text-danger"></span>
                        </div>
                        <div class="card-footer text-muted">
                            <a href="javascript:{}" onclick="document.getElementById('register_form').submit();" class="btn btn-secondary mr-3 mb-2">REGISTER</a>
                            <br />
                            <span class="">Already have account <a asp-page="/LoginPage">Login here</a></span>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }